h1 {
  text-align: center;
}

.color-tile {
  height: 50vh;
  width: 20%;
}

.color-palette-section {
  display: flex;
}

section {
  text-align: center;
}

.thumbnail-color {
  height: 20px;
  width: 20px;
}

.palette-thumbnail {
  display: flex;
  align-items: center;
}

.thumbnail-color-div {
  display: flex;
}

ul {
  list-style-type: none;
}